<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>카픽스:로그인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- jquery 원본 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body id="wrap">
<div id="header">
    <div th:insert="/header"></div>
</div>
<div id="section">
    <div id="container">
        <h1>로그인</h1>
        <div id="logincontainer">
            <div class="text-center">
                <a href="/admin/login">
                    <div style="border:1px solid black; width:182px; height:45px; border-radius:5px; text-align:center;margin-right:auto;margin-left:auto; ">관리자 로그인</div>
                </a>
            </div>
            <br>
            <div class="text-center">
                <a href="/kakao/kakaoTerms">
                    <img src="/images/kakao_login_medium_narrow.png">
                </a>
            </div>
        </div>
        <span id="description">소셜 로그인으로 편하게 카픽스에 로그인하세요.</span>
    </div>
</div>
</body>
</html>
