@font-face{
    font-family:'InterparkGothic';
    src: url("../font/InterparkGothicLight.ttf");
}
@font-face{
    font-family:'InterparkGothicMedium';
    src: url("../font/InterparkGothicMedium.ttf");
}
@font-face{
    font-family:'InterparkGothicBold';
    src: url("../font/InterparkGothicBold.ttf");
}

#wrap {
  font-family:'InterparkGothicMedium';
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#logo > a{
  font-family:'InterparkGothicBold';
  text-decoration: none;
  color:red;
}
#container{
  display:block;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  transform: translate(0px, 140px);
  height: 350px;
  border-radius:5px;
  box-shadow: 1px 1px 30px -1px #00FFFF;
  text-align: center;
}

@media (min-width: 1440px){
  #container{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}

#container > h1{
  text-align: center;
  padding-top:5%;
  margin-bottom:0%;
}

#logincontainer{
  display:block;
  padding-top:3%;
  width:auto;
  height:auto;
  text-align:center;
}

#description{
  display:block;
  margin-top:3%;
  text-align: center;
}
.text-center{

}
#logo {
  color: red;
}

#userinfo{
  position:absolute;
  left:74%;
  top:4%;
}

#userinfo > span > a{
  text-decoration: none;
  color:black;
}

#userinfo > span > a:hover{
  text-decoration: none;
  color:red;
}

#usermodify{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  border-radius:5px;
  box-shadow: 1px 1px 30px -1px #00FFFF;
}

@media (min-width: 1440px){
  #usermodify{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}

#formhidden{
  display:none;
}

#menu {
  display: flex;
  margin-left: -2%;
}

.menu-item {
  padding-left: 2%;
  font-family:'InterparkGothicBold';
}

#section{
 width:100%;
}

#itemcontainer{
  display:flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 40%;
}

#hr {
  width: 100%;
}
